<!DOCTYPE html>
<html lang="en">

<head>
  <title>Discover Greece</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/~1704807/View/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div>

    <!-- source: https://wallpapermemory.com/uploads/705/santorini-wallpaper-1080p-496872.jpg-->
    <img class="img-responsive center-block fit-image" src="/~1704807/imgs/headerImage2.jpg" alt="header image">
  </div>

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/~1704807/index.php">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week1.html">Week 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week2.html">Week 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week3.html">Week 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week4.html">Week 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week5.html">Week 5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week6.html">Week 6</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week7.html">Week 7</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week8.html">Week 8</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week9.html">Week 9</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week10.html">Week 10</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week11.html">Week 11</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/weeks/week12.html">Week 12</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/sensor-page.html">Sensor Page</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/~1704807/rss.php">RSS Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/rest-procedures.php">Rest Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/~1704807/View/references.html">References</a>
      </li>

    </ul>

  </nav>

<div class="row container-fluid">

<div class="container col-sm-2 order-12 order-xl-1">


  <div class="sidenav">
    <?php
      session_start();

      if (!isset($_SESSION["loggedIn"])) {
          echo "
            <a class='nav-link' id='navbar-link' href='/~1704807/View/create-user-form.php'>Register</a>
            <a class='nav-link' id='navbar-link' href='/~1704807/View/login-form.php'>Log In</a>
          ";
      } elseif (isset($_SESSION["loggedIn"])) {
          echo "
            <a class='nav-link' id='navbar-link' href='/~1704807/Controller/logout.php'>Log Out</a>
          ";
      }

    ?>
</div>

</div>

<div id="test" class="container col-sm-10 order-1 order-xl-12">


<div class="container">

  references for images:
  https://www.greeka.com/seedo/photos/149/athens-acropolis-hill-top-1-1280.jpg
  https://aws-tiqets-cdn.imgix.net/images/content/9989370ab68c4bbe86cd65b0db832e1f.jpg?auto=format&fit=crop&ixlib=python-1.1.2&q=25&s=31e240eb951eaedd617d2516a4d879a2&w=400&h=320&dpr=2.625
  https://www.athensguide.com/sounion/sounion4.jpg
  https://www.athensguide.com/sounion/sounion1lge.JPG
  https://media-cdn.tripadvisor.com/media/photo-s/02/77/71/c5/flisvos-marina.jpg
  https://www.trip2athens.com/userfiles/photos/attractions/L/L9/marina_flisvou_03.jpg?w=619&h=348&mode=crop&scale=both&quality=80
  https://media-cdn.tripadvisor.com/media/photo-s/17/e3/78/44/img-20190611-164400-largejpg.jpg
  http://visit-thassos.com/frontend_cache/media/application/data/images/places/118/giola-4-2_464_750_thumb.jpg
  https://whyathens.com/wp-content/uploads/2016/10/Acropolis-Museum-Underfloor-Entrance-Why-Athens-1024x656.jpg
  https://upload.wikimedia.org/wikipedia/commons/2/2e/Acropolis_Museum_-_Night.jpg
  https://upload.wikimedia.org/wikipedia/commons/9/9c/Temple_of_Apollo_in_Delphi_01.jpg
  https://www.greeka.com/photos/sterea/delphi/history/hero/delphi-history-1280.jpg
  http://www.greece-is.com/wp-content/uploads/2016/12/meteora-7.jpg
  https://cnet3.cbsistatic.com/img/pnaNwvvZHTlBqQZPpsjPqF64luA=/1092x0/2016/08/09/dd847d47-f6bd-4243-91f3-822342956649/meteora-mid.jpg
  https://cache-graphicslib.viator.com/graphicslib/page-images/742x525/129583_B_Athens_Ancient_Agora_shutterstock_99071501.jpg
  https://static.thousandwonders.net/Ancient.Agora.of.Athens.original.5125.jpg
  https://cdn.theatlantic.com/assets/media/img/mt/2018/08/AP_0909150105401/lead_720_405.jpg?mod=1533740455
  https://www.greeka.com/photos/dodecanese/rhodes/hero/rhodes-island-1920.jpg
  https://blog.seabookings.com/wp-content/uploads/2019/01/Rhodes-SeaBookings.jpg
  https://upload.wikimedia.org/wikipedia/commons/e/ea/Knossos_-_North_Portico_02.jpg
  https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdboIBipjIVxq7zkoybQIRV_ALCIBfqZYpLQ8AtcMx6GzZE-8Rjg
  http://www.visitgreece.gr/deployedFiles/StaticFiles/Photos/Generic%20Contents/Poleis/white_tower_560.jpg
  http://www.visitgreece.gr/deployedFiles/StaticFiles/Photos/Generic%20Contents/Poleis/white_tower_2_560.jpg

  reference for graphing software:
  https://canvasjs.com/



</div>

</body>



</html>
