.card
{
  margin: 30px;
  position: relative;

}

.sidenav
{
  width: 130px;
  position: sticky;
  top: 50px;

  margin: 100px;
  margin-left: 80px;
  background-color: #A9A9A9;
  border-radius: 15px;
  padding: 20px;


}

#navbar-sdflink
{
  color: black;
}

.fit-image
{

  width: 100%;
  object-fit: cover;

}

#formAlert
{
  color: red;


}
