<h1><span style="font-weight: 400;">Week 10</span></h1>
<h1>&nbsp;</h1>
<p><span style="font-weight: 400;">RSS is a type of web source which can be utilised to provide updates to the users that are subscribed to it. These feeds are usually written in XML with a standardised structure. This structure usually consists of the rss version, which is then followed by a channel. This channel is comprised of items which can in turn also have different items inside them. Finally each item has a title, a description and a link, which the user can use to go to the source of the item.</span></p>
<h1>&nbsp;</h1>
<p><span style="font-weight: 400;">In the case of the present website, 5 items are retrieved from the database along with the title and description. Then a php loop is used to loop through those 5 items and create the structure mentioned above, containing the details of those five items.</span></p>
